@import "../../../Assets/Styles/variables";

.header {
  background-color: #fafdfd;
  position: relative;
  z-index: 0;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-family: "Josefin Sans", sans-serif;
      text-transform: lowercase;
      text-decoration: none;
      font-weight: bold;
      background: repeating-linear-gradient(
        -45deg,
        rgba(7, 34, 39, 1) 0px,
        rgba(7, 34, 39, 1) 10px,
        rgba(53, 133, 139, 1) 10px,
        rgba(53, 133, 139, 1) 20px,
        rgba(79, 189, 186, 1) 20px,
        rgba(65, 193, 198, 1) 30px,
        rgba(174, 254, 255, 1) 30px,
        rgba(174, 254, 255, 1) 40px
      );
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      font-size: calc(1rem + 2vw);
      &:hover {
        animation: 0.5s backgroundSwirl infinite linear;
      }
    }
    .navContainer {
      .navBlock {
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        background-color: #f0fefe;
        align-items: stretch;
        justify-content: center;
        .navItem {
          font-family: "Josefin Sans", sans-serif;
          text-transform: lowercase;
          padding: 0;
          font-size: calc(1rem + 2vw);
          line-height: 1;
        }
      }
    }
  }
}
@keyframes backgroundSwirl {
  from {
    background-position: 0 center;
  }

  to {
    background-position: 120px center;
  }
}
