$primaryColorDarker: rgba(7, 34, 39, 1);
$primaryColorDark: rgba(53, 133, 139, 1);
$primaryColorLight: rgba(79, 189, 186, 1);
$primaryColorLighter: rgba(174, 254, 255, 1);

/* Spacers
**/
$spacer: 1rem;
